html,
body,
#root {
  font: 0.9rem sans-serif;
  background: #0a1f44;
  color: #1e2432;
  height: 100%;
  margin: 0;
}

.main-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)),
    url("/images/scores app background.png");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  overflow: scroll;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  outline: none;
  padding: 20px 7%;
  border-radius: 20px;
  border: none;
  margin-bottom: 1%;
  background: rgba(250, 250, 250, 0.85);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.score {
  display: grid;
  align-items: center;
  justify-content: right;
  flex-direction: row;
  width: 20%;
  padding: 3px 5%;
  border-radius: 20px;
  background: rgba(250, 250, 250);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
  margin-bottom: 5px;
}

.score-name {
  width: 100%;
  font-size: 0.9vw;
  white-space: nowrap;
}

.boxscore-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1vw;
}

.scoreboard-button {
  transition-duration: 0.4s;
  background-color: #c9082a;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px rgba(15, 15, 15, 0.404);
  align-items: right;
}

.boxscore-table {
  display: grid;
  text-align: left;
  font-size: 0.9vw;
  padding: 10px;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
  margin-bottom: 5px;
  table-layout: auto;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.boxscore-stats {
  text-align: center;
  padding-right: 10px;
}

.boxscore-table-headers {
  border-bottom: 1px solid rgba(15, 15, 15, 0.404);
}

.boxscore-stat-headers {
  text-align: center;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 20px 15%;
  }
}
